$background: #1e293b;
$activeBackground: #3b82f6;
$white: #ffffff;
$border: #708090;
$primaryColor: #60a5fa;
$grayText: #9ca3af;
$activeBorder: #3b82f6;
$deleteColor: #dc2626;
$gray: #6b7280;
$deleteHover: #991b1b;
$grayDark: #374151;
$backgroundLight: #263340;

.notification {
  padding: 8px 16px;
  border-bottom: 1px solid $border;
  cursor: pointer;
  font-size: 14px;


  &:hover {
    background-color: $backgroundLight;
    font-weight: 600;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__createdAt {
    color: $grayText;
    font-size: 12px;
    margin-bottom: 4px;

  }

  &__unread {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primaryColor;
  }
}